.footerdiv{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(20, 20, 20);
    color: white;
    scroll-padding-top: 20px;
    box-sizing: border-box;
}
.f2{
    display: flex;
    justify-content: space-around;
}
.fodiv{
    width: 100vw;
    background-color: rgb(20, 20, 20);
}
.f1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}